<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this obj from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>

    <main>


      <p id="notice"></p>
     <div class="container px-5 mx-sm-0">
      <div class="row">
        <div class="col-md-3">

         <%= render '/users/userinfo', user: @user %>
         <%= render 'newbook', book: @book %>
         </div>

      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class="table table-bover table-inverse">
          <thead>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </thead>
          <tbody>

             <% @books.each do |book| %>
             <tr>
               <td>
                 <% if book.book_image.attached? %>
                   <%= image_tag book.book_image, size: "100x100" %>
                 <% else %>
                   <%= image_tag 'default-image', size: "100x100" %>
                 <% end %>
               </td>
               <td><%= link_to book.title, "/book/#{book.id}" %></td>
               <td><%= book.body %></td>

             </tr>
             <% end %>

          </tbody>
        </table>
       </div>
      </div>
    </div>


    </main>

  </body>

</html>
