<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>

    <main>


      <p id="notice"></p>
     <div class="container px-5 mx-sm-0">
      <div class="row">
         <h2>User info</h2>
         <table class="table">
          <tbody>

          </tbody>
         </table>

         <div class="row">
          <a class="btn btn-outline-secondary btn-block">
            <i class="fas fa-user-cog" aria-hidden="true"></i>
          </a>
          </div>

         <%= render 'newbook', book: @book %>

      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class="table table-bover table-inverse">
          <thead>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </thead>
          <tbody>

          <div>
             <th></th>
             <th><%= @book.title %></th>
             <th><%= @book.opinion %></th>
             <td><%= link_to "Edit", edit_book_path(@book.id) %></td>
             <td><%= link_to "Destroy", destroy_books_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %></td>

          </div>

          </tbody>
        </table>
       </div>
      </div>
    </div>


    </main>

  </body>

</html>
